@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@keyframes flow {
  0% {
    transform: translateX(-40px);
    opacity: 0;

  }

  20% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: translateX(240px);
    opacity: 0;

  }
}

@media (max-width: 790px) {
  @keyframes flow {
    0% {
      transform: translateX(-50px);
      opacity: 0;

    }

    20% {
      opacity: 1;
    }

    100% {
      transform: translateX(100px);
      opacity: 0;

    }
  }

  .animate-flow {
    gap: 0.8rem;
    font-size: 18px;
    animation: flow 5s linear infinite;
  }
}

.animate-flow {
  animation: flow 5s linear infinite;
  color: #135ee9 !important;
  position: relative;
  font-size: 28px;
  z-index: 1;
}


#font-label {
  font-family: "Kanit", sans-serif !important;
}

.login-btn {
  cursor: pointer;
  transition: all 0.3s ease;

}

.login-btn:hover {
  background-color: #05327a;
  color: #fff;
}

.login-btn:active {
  background-color: #05327a;
  color: #fff;
}